<div class="Cart-payment extras-compt">
    <div class="layout-column  m-t-10">
        <div class="layout-row layout-align-space-between-center main-heading-class">
            EMBED OPTIONS
        </div>
        <div class="layout-row layout-align-start-center m-t-10 emails-confirmation">
            <label class="flex-30">Web Widgets
                <i class="fa fa-info-circle l" tooltip="Use this URL to iframe this feature into your website. you will receive an email with the embed code for this widget when you publish your application." tooltipPlacement="right" aria-hidden="true"></i>
            </label>
            <button class="btn green-btn">preview Widget</button>
        </div>
        <div class="layout-row layout-align-space-between-center m-t-10 main-heading-class">
            THERMAL PRINTER
        </div>
        <div class="layout-row layout-align-start-center m-t-10">
            <label class="flex-30">
            <label class="switch m-r-10 m-b-0">
                <input type="checkbox" [(ngModel)]="switch">
                <div class="slider round"></div>
            </label>
            <span class="m-l-10 flex-30 span-data">cloudPRNT</span>
            </label>
            <a href="#" class="setup-url hef-link">setup guide</a>
        </div>
        <div class="layout-column layout-align-start-start m-t-10">
            <span>You Have 1 Location(s)</span>
            <span class="m-t-10">
               <span class="input-side-box m-r-10">5645 Coral Ridge Dr, Coral springs, FL </span>
            <a href="#" class="hef-link">copy Url</a>
            </span>
        </div>
        <div class="layout-row layout-align-space-between-center m-t-10 main-heading-class">
            Google Cloud Print (BETA)
        </div>
        <div class="layout-row layout-align-space-between-center m-t-10">
            You Have 0 Printer(s).
        </div>
        <div class="layout-row layout-align-start-start pad-al-15">
            <label class="checkbox-inline custom-checkbox nowrap flex-30">
                <input type="checkbox">
                <span>Select All</span>
            </label>
            <button class="btn green-btn m-r-10">Add New Printer</button>
            <span class="lastspan-out">
                <button class="red">
                    <i class="fa fa-trash" title="delete"></i>
                </button>
            </span>
        </div>
        <div class="layout-row layout-align-start-start">
            <label class="flex-30">
            </label>
            <a href="#" class="hef-link" style="margin-left: 6px;">Disconnect From Google Cloud Printer (Beta)</a>
        </div>
    </div>
</div>