<div *ngIf="!ready" class="fm-spinner">
    <div class="fm-double-bounce1"></div>
    <div class="fm-double-bounce2"></div>
</div>
<div *ngIf="ready">
    <div class="flex-100 spaceborder">
    </div>
    <div class="flex-100 layout-row secondtab-block">
        <div class="flex-35">
            <ul class="secondcontent-block contact-us-wrap " style="padding-left: 0px;">
                <li class="title-head">{{tabData.title + ' - ' + tabData.tab_func_name}}</li>
            </ul>
        </div>
    </div>


    <div class="flex-100 layout-row main-social-tab-container pdf arnd">
        <div class="flex-50 layout-column boder-left-div">
            <div class="dotted-bootom-div layout-column layout-align-end">
                <div class=" layout-row layout-align-space-between-center pdf-box">
                    <ul class="secondcontent-block contact-us-wrap " style="padding-left: 0px;">
                        <li class="title-sbhead">You have {{itemList.length}} item(s)</li>
                    </ul>
                    <button class="green-btn" (click)="showAddContentDialog()">
                        <i class="fa fa-plus ion-right" aria-hidden="true"></i> Add New Item
                    </button>
                </div>
                <div class="layout-row layout-align-space-between-center pad-al-15">
                    <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" id="inlineCheckbox04" [(ngModel)]="checkAll" (change)="onCheckAllChange()" >
                        <span>Select All</span>
                    </label>
                    <span class="lastspan-out"><button class="red" [class.checkTrue]="selectedItem.length > 0 && selectedItem.indexOf(true) !== -1" (click)="onItemDeleteClick()"><i class="fa fa-trash" title="delete"></i></button></span>
                </div>
            </div>
            <div [dragula]="'content-tab-two-items-bag'" [dragulaModel]="itemList">
                <div class="dotted-bootom-div layout-row somespace-top layout-align-start-center" *ngFor="let item of itemList">
                    <div class="flex-50 layout-row layout-align-start-center pad-l-15">
                        <label class="checkbox-inline custom-checkbox nowrap">                        
                            <input type="checkbox" id="inlineCheckbox05"  [(ngModel)]="selectedItem[item.id]" (click)="onCheckTabChange(selectedItem[item.id], item.id)">
                            <span></span>
                        </label>
                        <span class="layout-row layout-align-center-center"><i aria-hidden="true" class="fa fa-arrows cursor-move"></i></span>
                        <div class="">
                            <img src="{{item.thumbnail|| '../../../../assets/img/no-image.png'}}" width="50px" alt="{{item.name + 'thumbnail'}}">
                        </div>
                        <div class="layout-column menu-tb-span m-l-10">
                            <span>{{item.name}}</span>
                            <span>{{item.section}}</span>
                            <span *ngIf="item.status === 2" class="menu-item-disabled">INACTIVE</span>
                        </div>
                    </div>
                    <div class="flex-50 layout-row layout-align-end  remove-r-padding  pad-r-15">
                        <span class=""><button class="edit-btn add-button m-r-0" (click)="showEditContentDialog(item.id)">Edit</button></span>
                        <!--<span class="wrap-address "><button class="red" (click)="deleteItem(item.id)">Delete</button></span>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-50 layout-column">
            <mobile-view [tabId]='tabId'></mobile-view>
        </div>
    </div>
</div>

<p-dialog [draggable]="false"  [header]="categoryFormHeader" class="app-dialog add-app info-wrap info-2" [(visible)]="addContentDialogDisplay"
    modal="modal"  (onAfterHide)="onAddEditDialogHide()">
    <div *ngIf="showLoader" class="fm-spinner">
        <div class="fm-double-bounce1"></div>
        <div class="fm-double-bounce2"></div>
    </div>
    <form>
        <div class="white-bg web-bg border-all edit-dialog-wrap">
            <div class="layout-align-start"> <span class="layout-row setspace">Color Settings :</span></div>
            <div class="layout-row layout-align-start content-center-align flex-100">
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" id="inlineCheckbox01" type="checkbox" [(ngModel)]="item.use_global_colors" (click)="onItemUseGlobalClick()">
                    <span>Use Global Background & Text Colors <i class="fa fa-info-circle layout-row setinput-icon" tooltip="Use the Global Background & Text Colors instead of custom colors" tooltipPlacement="right" aria-hidden="true"></i></span>
                </label>
            </div>
            <div class="updatecolor-box layout-row block-1">
                <div class="overlay" [style.display]="itemOverlayDisplay"></div>

                <label>Background</label><span><i class="fa fa-info-circle layout-row setinput-icon" tooltip='Select a custom background color for your text area. You must click "Update Colors" in order for the changes to reflect. The global color will be used if nothing is selected.' tooltipPlacement="right" aria-hidden="true"></i></span>
                <input class="input-class" [(colorPicker)]="item.background_color" [style.background]="item.background_color" [value]="item.background_color"
                    [cpPosition]="'bottom'" [cpOutputFormat]="'hex'" readonly>

                <label>Text</label><span><i class="fa fa-info-circle layout-row setinput-icon" tooltip='Select a custom text color. You must click "Update Colors" in order for the changes to reflect. The global color will be used if nothing is selected.' tooltipPlacement="right" aria-hidden="true"></i></span>
                <input class="input-class" [(colorPicker)]="item.text_color" [style.background]="item.text_color" [value]="item.text_color"
                    [cpPosition]="'bottom'" [cpOutputFormat]="'hex'" readonly>

                <button type="button" (click)="onUpdateColorClick()">Update Colors</button>
            </div>

            <div class="againtab-container-box ">
                <div class="header-background">
                    <tabset class="container-tab-detail">
                        <tab heading="General Information">
                            <div class="tabinner-space">
                                <div class="uploaded-file-box">
                                    <div class="layout-row layout-align-start-center">
                                        <label class="checkbox-inline custom-checkbox nowrap">
                                   <input id="inlineCheckbox01" type="checkbox" [(ngModel)]="item.is_header_required">
                                    <span>&nbsp;</span>
                                </label>

                                        <span>Phone Header Image</span>
                                        <i class="fa fa-info-circle setinput-icon" tooltip='Upload a Phone Header Image 640x264px.' tooltipPlacement="right" aria-hidden="true"></i>
                                        <input type="file" (change)="onPhoneHeaderImageChange($event)">
                                        <div class="phone-header-img thumb-img-dif" *ngIf="phoneHeaderImage">
                                            <i class="fa fa-close" (click)="deleteImage('phone_header',item.id)"></i>
                                            <img style="max-height:64px; max-width: 64px" src="{{phoneHeaderImage}}">
                                        </div>
                                    </div>
                                    <div class="layout-row layout-align-start-center p-l-25">
                                        <span class="p-l-20 m-l-10">Tablet Header Image</span>
                                        <i class="fa fa-info-circle  setinput-icon" tooltip='Upload a Tablet Header Image 1536x634px.' tooltipPlacement="right" aria-hidden="true"></i>
                                        <input type="file" (change)="onTabletHeaderImageChange($event)">
                                        <div class="tablet-header-img thumb-img-dif" *ngIf="tabletHeaderImage">
                                            <i class="fa fa-close" (click)="deleteImage('tablet_header',item.id)"></i>
                                            <img style="max-height:64px; max-width: 64px" src="{{tabletHeaderImage}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="layout-column">
                                    <div class="layout-row m-b-15 layout-align-space-between">
                                        <div class="layout-column flex-45">
                                            <label>Name
                                                <i class="fa fa-info-circle l" tooltip="Name" tooltipPlacement="right" aria-hidden="true"></i>
                                            </label>
                                            <input id="name" type="text" [(ngModel)]="item.name">
                                        </div>
                                        <div class="layout-column flex-45">
                                            <label>Section
                                                <i class="fa fa-info-circle l" tooltip="section" tooltipPlacement="right" aria-hidden="true"></i>
                                            </label>
                                            <input id="sectoin" type="text" [(ngModel)]="item.section">
                                        </div>
                                    </div>
                                    <div class="layout-column">
                                        <label class="checkbox-inline custom-checkbox nowrap">
                                            <input type="checkbox" id="inlineCheckbox02" type="checkbox" [(ngModel)]="item.add_header_and_comment">
                                            <span>  Add Header & Comment Sections<i class="fa fa-info-circle layout-row setinput-icon" tooltip="This will display a header image section and enable commenting ability" tooltipPlacement="right" aria-hidden="true"></i></span>
                                        </label>
                                        <label class="checkbox-inline custom-checkbox nowrap m-t-10">
                                            <input type="checkbox" id="inlineCheckbox03" type="checkbox" [(ngModel)]="item.status">
                                            <span>Status<i class="fa fa-info-circle layout-row setinput-icon" tooltip="status" tooltipPlacement="right" aria-hidden="true"></i></span>
                                        </label>

                                    </div>
                                    <div>
                                        <label class="m-t-10">Description<span><i class="fa fa-info-circle layout-row setinput-icon" tooltip='Enter your content here, you can also use images, links and more' tooltipPlacement="right" aria-hidden="true"></i></span></label>
                                        <!--<ckeditor *ngIf="showEditor" [config]="ckEditorConfig" [(ngModel)]="item.description"></ckeditor>-->
                                        <div id="description-editor"></div>
                                    </div>
                                </div>
                                <div class="layout-row m-t-10 layout-align-start-center">
                                    <label>Thumbnail <span><i class="fa fa-info-circle layout-row setinput-icon" tooltip='Upload Thumbnail Image 1536x634px.' tooltipPlacement="right" aria-hidden="true"></i></span></label>

                                    <input type="file" (change)="onThumbnailImageChange($event)">
                                    <div class="tablet-header-img" *ngIf="thumbnailImage">
                                        <i class="fa fa-close" (click)="deleteThumbnailImage('thumbnail',item.id)"></i>
                                        <img style="max-height:64px; max-width: 64px" src="{{thumbnailImage}}">
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Comments" ng-reflect-heading="Comments" class="tab-pane">
                            <div class="tabinner-space comment-sec">
                                <span>Showing {{comments.length}} Comment(s):</span>

                                <div class="coment-conct-wrap">
                                    <table class="flex-100 layout-column">
                                        <tbody class="comment-box-wrap">
                                            <tr class="layout-row flex-100">
                                                <td class="flex-30 layout-row layout-align-center-center cl-up">Date</td>
                                                <td class="flex-70 layout-row">
                                                    <table class="layout-row flex-100">
                                                        <tbody class="layout-row flex-100">
                                                            <tr class="layout-row flex-100">
                                                                <td class="flex-80 layout-align-center-center cl-up">Name/Comment</td>
                                                                <td class="flex-20 layout-align-center-center cl-up opening-time-wrap-th "></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody class="comment-box-wrap ">
                                            <tr class="layout-row flex-100" *ngFor="let comment of comments">
                                                <td class="flex-30 layout-row layout-align-center-center cl-up-1  b-l-r">{{comment.created_at}}</td>
                                                <td class="flex-70 layout-row">
                                                    <table class="layout-row flex-100">
                                                        <tbody class="layout-column flex-100">
                                                            <tr class="layout-row flex-100 ">
                                                                <td class="flex-80 layout-align-center-center cl-up-1 border-r "> {{comment.name}}</td>
                                                                <td class="flex-20 layout-align-center-center layout-row cl-up-1 "><button class="red" type="button" (click)="deleteComment(comment.id)">Delete</button></td>
                                                            </tr>
                                                            <tr class="cl-up-1 layout-row flex-100 layout-align-start-center ">
                                                                {{comment.description}}
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
            <div class="layout-align-start save-btn">
                <button class="blue-btn btn btn-lg" [disabled]="addSaveButtonHide" (click)="onItemSubmit()" type="submit">Save Changes</button>
            </div>
        </div>


    </form>
</p-dialog>