<!--
  Generated template for the DirectionModal component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-header>
	<ion-toolbar>
		<ion-title>Which location would you like direction to?</ion-title>
		<ion-buttons start>
			<button ion-button (click)="dismiss()">
                <ion-icon name="md-close"></ion-icon>
            </button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<button ion-item *ngFor="let contact of directionData" (click)="onDirectionClick(contact.m_lat, contact.m_long)">
            <p>{{contact.address}}</p>
        </button>
	</ion-list>
</ion-content>