@import '../../../../../theme/sass/flex';

.defaultLanguage{
 background: rgb(102, 102, 102);
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    border: none;
        padding: 10px 10px 10px 10px !important;
        border-bottom: none !important;
}
.main-social-tab-container .somespace-top.defaultLanguage span {
    font-size: 14px;
    padding-bottom: 0;
}
.defaultLanguage .p-l-10{
    padding-left: 0 !important;
}