<!--
  Generated template for the ContactUsDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar [style.background]="'url(' + globalService.tabHeaderBgImageSrcs[globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].header.background_img : globalService.initData.globalStyleSettings.header.background_img] + ')'"
        [style.background-color]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].header.background_color : globalService.initData.globalStyleSettings.header.background_color"
        [style.opacity]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].header.background_opacity : globalService.initData.globalStyleSettings.header.background_opacity">
        <ion-title *ngIf=" tab_nav_type=='tab'" [style.color]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].header.text_color : globalService.initData.globalStyleSettings.header.text_color"
            [style.text-shadow]="globalService.initData.individualSettings[tabId] ? '0px 0px 5px ' + globalService.initData.individualSettings[tabId].header.shadow : '0px 0px 5px ' + globalService.initData.globalStyleSettings.header.shadow">{{globalService.appTabTitleLanguages?.tab_translation?globalService.appTabTitleLanguages?.tab_translation[globalService.currentLanguage][tabId]?globalService.appTabTitleLanguages?.tab_translation[globalService.currentLanguage][tabId]:title:title}}</ion-title>
        <ion-title *ngIf="tab_nav_type=='subtab'" [style.color]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].header.text_color : globalService.initData.globalStyleSettings.header.text_color"
            [style.text-shadow]="globalService.initData.individualSettings[tabId] ? '0px 0px 5px ' + globalService.initData.individualSettings[tabId].header.shadow : '0px 0px 5px ' + globalService.initData.globalStyleSettings.header.shadow">{{globalService.appTabTitleLanguages?.sub_tab_translation?globalService.appTabTitleLanguages?.sub_tab_translation[globalService.currentLanguage][subTabId]?globalService.appTabTitleLanguages?.sub_tab_translation[globalService.currentLanguage][subTabId]:title:title}}</ion-title>
    </ion-navbar>

</ion-header>


<div class="map-wrap fix-map">
    <div id="map" class="contact_us_map">

    </div>
    <div *ngIf="!loader" id="address-overlay">
        <span>{{location.address_sec_1}}</span>
        <span>{{location.address_sec_2}}</span>
    </div>
</div>
<ion-content class="fix-content">
    <md-spinner [state]="loader || commentLoader" [type]="'fixed'"></md-spinner>
    <!--<ion-scroll scrollY="true" class="map-body">-->
    <template [ngIf]="!loader || !commentLoader">
        <div [style.background]="'url(' + bgImage + ')'" [style.height]="'100%'">

            <ion-grid class="contact-us-images" *ngIf="location.is_left_right_image_enabled">
                <ion-row>
                    <ion-col width-50>
                        <img *ngIf="location.left_image" [src]="location.left_image">
                        <div *ngIf="!location.left_image" class="default-img-div"></div>
                    </ion-col>
                    <ion-col width-50>
                        <img *ngIf="location.right_image" [src]="location.right_image">
                        <div *ngIf="!location.right_image" class="default-img-div"></div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-card *ngIf="openingTimes.length" class="comments-card contact-us-wrap">
                <ion-card-header [style.color]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.section_text : globalService.initData.globalStyleSettings.lists.section_text"
                    [style.background-color]="(globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.section_bar : globalService.initData.globalStyleSettings.lists.section_bar) | hex2rgba"
                    (click)="toggleOpeningCard()">
                    {{'OPENINGHOURS' | translate}}
                    <ion-icon ion-right *ngIf="!toggle_openingtime_card" name="arrow-dropdown-circle"></ion-icon>
                    <ion-icon ion-right *ngIf="toggle_openingtime_card" name="arrow-dropup-circle"></ion-icon>
                </ion-card-header>
                <ion-list *ngIf="toggle_openingtime_card">
                    <ion-item *ngFor="let opening of openingTimes; let i = index;" [style.background-color]="((i % 2 == 0) ? (globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.even_row_bar : globalService.initData.globalStyleSettings.lists.even_row_bar) : (globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.row_bar : globalService.initData.globalStyleSettings.lists.row_bar)) | hex2rgba">
                        <ion-icon name="calendar" item-left></ion-icon>
                        <h2 [style.color]="(i % 2 == 0) ? (globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.even_row_text : globalService.initData.globalStyleSettings.lists.even_row_text) : (globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.row_text : globalService.initData.globalStyleSettings.lists.row_text)">{{opening.day_name}}</h2>
                        <p [style.color]="(i % 2 == 0) ? (globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.even_row_text : globalService.initData.globalStyleSettings.lists.even_row_text) : (globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.row_text : globalService.initData.globalStyleSettings.lists.row_text)">{{opening.open_from}} - {{opening.open_to}}</p>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card class="comments-card contact-us-wrap" *ngIf="globalService.appScreenConfigData && globalService.appScreenConfigData?.user_comment_ability">
                <ion-card-header [style.color]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.section_text : globalService.initData.globalStyleSettings.lists.section_text"
                    [style.background-color]="(globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.section_bar : globalService.initData.globalStyleSettings.lists.section_bar)| hex2rgba"
                    (click)="toggleCommentsCard()">
                    {{'COMMENTS' | translate}}
                    <ion-icon ion-right *ngIf="!toggle_comment_card" name="arrow-dropdown-circle"></ion-icon>
                    <ion-icon ion-right *ngIf="toggle_comment_card" name="arrow-dropup-circle"></ion-icon>
                </ion-card-header>
                <ion-list *ngIf="comments.length && toggle_comment_card">
                    <ion-item *ngFor="let comment of comments; let i = index;" [style.background-color]="((i % 2 == 0) ? (globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.even_row_bar : globalService.initData.globalStyleSettings.lists.even_row_bar) : (globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.row_bar : globalService.initData.globalStyleSettings.lists.row_bar)) | hex2rgba">
                        <ion-avatar *ngIf="comment.picture && comment.picture !== ''" item-left>
                            <img [src]="comment.picture">
                        </ion-avatar>
                        <ion-icon *ngIf="!comment.picture || comment.picture === ''" name="person" item-left></ion-icon>
                        <span>
                <h2 [style.color]="(i % 2 == 0) ? (globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.even_row_text : globalService.initData.globalStyleSettings.lists.even_row_text) : (globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.row_text : globalService.initData.globalStyleSettings.lists.row_text)">{{comment.name}}</h2>
                <p [style.color]="(i % 2 == 0) ? (globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.even_row_text : globalService.initData.globalStyleSettings.lists.even_row_text) : (globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.row_text : globalService.initData.globalStyleSettings.lists.row_text)">{{comment.comment}}</p>
            </span>
                        <span item-right>
                <p [style.color]="(i % 2 == 0) ? (globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.even_row_text : globalService.initData.globalStyleSettings.lists.even_row_text) : (globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.row_text : globalService.initData.globalStyleSettings.lists.row_text)">{{comment.created_at | servertimeformatpipe}}</p>
            </span>
                    </ion-item>
                </ion-list>
                <ion-item *ngIf="!comments.length && toggle_comment_card" [style.background-color]="(globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.row_bar : globalService.initData.globalStyleSettings.lists.row_bar)| hex2rgba"
                    [style.color]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.row_text : globalService.initData.globalStyleSettings.lists.row_text">
                    {{'NOCOMMENTSTEXT' | translate}}
                </ion-item>
                <ion-row *ngIf="toggle_comment_card" [style.background-color]="(globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.row_bar : globalService.initData.globalStyleSettings.lists.row_bar)| hex2rgba">
                    <button ion-button icon-left clear (click)="onPostCommentClick()" [style.background-color]="(globalService.initData.globalStyleSettings.features.button_image)| hex2rgba"
                        [style.color]="globalService.initData.globalStyleSettings.features.button_text">
                            <ion-icon name="text"></ion-icon>
                               {{'POSTBUTTONTEXT' | translate}}
                        </button>
                </ion-row>
            </ion-card>
        </div>
    </template>
    <!--</ion-scroll>-->
</ion-content>

<ion-footer class="contact-dtl">
    <ion-toolbar color="primary" no-shadow>
        <ion-row>
            <ion-col center text-center width-25 (click)="onCallUsClick()">
                <ion-icon name="call"></ion-icon>
                <span>{{'CALLUSTITLE' | translate}}</span>
            </ion-col>
            <ion-col center text-center width-25 (click)="onDirectionsClick()">
                <ion-icon name="compass"></ion-icon>
                <span>{{'DIRECTIONTITLE' | translate}}</span>
            </ion-col>
            <ion-col center text-center width-25 (click)="onEmailClick()">
                <ion-icon name="mail"></ion-icon>
                <span>{{'EMAILTITLE' | translate}}</span>
            </ion-col>
            <ion-col center text-center width-25 (click)="onWebsiteClick()">
                <ion-icon name="home"></ion-icon>
                <span>{{'WEBSITETITLE' | translate}}</span>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>