<div class="extrabutton tabinner-space">
    <div class="layout-column">
        <div class="layout-row">
            <label class="flex-20">Call Us</label>
            <label class="checkbox-inline custom-checkbox nowrap flex-30 layout-row layout-align-center-center">
                    <input type="checkbox"  [(ngModel)]="service.homeScreenSettings.extra_buttons.call_us" >
                    <span>&nbsp;</span>
                </label>
        </div>
    </div>
    <div class="layout-column">
        <div class="layout-row">
            <label class="flex-20">Direction</label>
            <label class="checkbox-inline custom-checkbox nowrap flex-30 layout-row layout-align-start-center">
                    <input type="checkbox"  [(ngModel)]="service.homeScreenSettings.extra_buttons.direction">
                    <span>&nbsp;</span>
                </label>
        </div>
    </div>
    <div class="layout-column">
        <div class="layout-row">
            <label class="flex-20">Tell Friend</label>
            <label class="checkbox-inline custom-checkbox nowrap flex-30 layout-row layout-align-start-center">
                    <input type="checkbox"  [(ngModel)]="service.homeScreenSettings.extra_buttons.tell_friend">
                    <span>&nbsp;</span>
                </label>
        </div>
    </div>
</div>