.titile-rap{
    color:#000;
}
profile .card {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    border-radius: 7px;
    position: relative;
    margin-bottom: 0;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}