<ion-header>

    <ion-navbar [style.background]="'url(' + globalService.tabHeaderBgImageSrcs[globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].header.background_img : globalService.initData.globalStyleSettings.header.background_img] + ')'"
        [style.background-color]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].header.background_color : globalService.initData.globalStyleSettings.header.background_color"
        [style.opacity]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].header.background_opacity : globalService.initData.globalStyleSettings.header.background_opacity">
        <ion-title *ngIf="tab_nav_type=='tab'" [style.color]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].header.text_color : globalService.initData.globalStyleSettings.header.text_color"
            [style.text-shadow]="globalService.initData.individualSettings[tabId] ? '0px 0px 5px ' + globalService.initData.individualSettings[tabId].header.shadow : '0px 0px 5px ' + globalService.initData.globalStyleSettings.header.shadow">{{globalService.appTabTitleLanguages?.tab_translation?globalService.appTabTitleLanguages?.tab_translation[globalService.currentLanguage][tabId]?globalService.appTabTitleLanguages?.tab_translation[globalService.currentLanguage][tabId]:title:title}}</ion-title>
        <ion-title *ngIf="tab_nav_type=='subtab'" [style.color]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].header.text_color : globalService.initData.globalStyleSettings.header.text_color"
            [style.text-shadow]="globalService.initData.individualSettings[tabId] ? '0px 0px 5px ' + globalService.initData.individualSettings[tabId].header.shadow : '0px 0px 5px ' + globalService.initData.globalStyleSettings.header.shadow">{{globalService.appTabTitleLanguages?.sub_tab_translation?globalService.appTabTitleLanguages?.sub_tab_translation[globalService.currentLanguage][subTabId]?globalService.appTabTitleLanguages?.sub_tab_translation[globalService.currentLanguage][subTabId]:title:title}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="fan-wall-content" [style.background]="'url(' + bgImage + ')'">
    <md-spinner [state]="loader" [type]="'fixed'"></md-spinner>
    <template [ngIf]="!loader">
        <div class="comment-cards-wrapper">
            <ion-card *ngFor="let item of items" class="comment-card" [style.background-color]="((i % 2 == 0) ? (globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.even_row_bar : globalService.initData.globalStyleSettings.lists.even_row_bar) : (globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.row_bar : globalService.initData.globalStyleSettings.lists.row_bar)) | hex2rgba">
                <ion-item class="card-header">
                    <ion-avatar *ngIf="item.picture && item.picture !== ''" item-left>
                        <img [src]="item.picture">
                    </ion-avatar>
                    <ion-icon *ngIf="!item.picture || item.picture === ''" name="person" item-left></ion-icon>
                    <h2>{{item.name}}</h2>
                    <p>{{item.created_at | servertimeformatpipe}}</p>
                </ion-item>

                <ion-card-content class="fan-wall-comment">
                    <p>{{item.description}}</p>
                </ion-card-content>

                <ion-item>
                    <button ion-button clear icon-left item-right primary (click)="onReplyClick(item)" [style.color]="globalService.initData.globalStyleSettings.features.button_image">
                    <ion-icon name="text"></ion-icon>
                    {{item.no_of_replies | replies}}
                </button>
                </ion-item>
            </ion-card>
            <ion-item *ngIf="!items.length">{{'NOTHINGTEXT' | translate}}</ion-item>
        </div>

    </template>
    <ion-fab right bottom>
        <button ion-fab color="primary">
            <ion-icon name="text"></ion-icon>
        </button>
        <ion-fab-list side="left">
            <button ion-fab (click)="onFacebookCommentClick()">
                <ion-icon name="logo-facebook"></ion-icon>
            </button>
            <button ion-fab (click)="onTwitterCommentClick()">
                <ion-icon name="logo-twitter"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
</ion-content>