<div *ngIf="!ready" class="fm-spinner">
    <div class="fm-double-bounce1"></div>
    <div class="fm-double-bounce2"></div>
</div>
<div *ngIf="ready">
    <div class="flex-100 spaceborder">
        <!--<span class="mini-content">Change Feature Order</span>-->
    </div>
    <div class="flex-100 layout-row secondtab-block">
        <div class="flex-30">
            <ul class="secondcontent-block contact-us-wrap " style="padding-left: 0px;">
                <li class="title-head">{{tabData.title + ' - ' + tabData.tab_func_name}}</li>
                <!--<li class="title-sbhead">You have {{pdfs.length}} PDF document(s)</li>-->
            </ul>
        </div>
    </div>
    <div class="flex-100 layout-row main-social-tab-container pdf">
        <div class="flex-50 layout-column boder-left-div">
            <div class="dotted-bootom-div layout-column layout-align-end">
                <div class=" layout-row layout-align-space-between-center pdf-box">
                    <ul class="secondcontent-block contact-us-wrap " style="padding-left: 0px;">                       
                        <li class="title-sbhead">You have {{pdfs.length}} PDF document(s)</li>
                    </ul>
                    <button class="green-btn" (click)="showAddDialog()">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add New PDF
                    </button>
                </div>
                <div class="layout-row layout-align-space-between-center pad-al-15">
                    <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" id="inlineCheckbox04" [(ngModel)]="checkAll" (change)="onCheckAllChange()" >
                        <span>Select All</span>
                    </label>
                    <span class="lastspan-out"><button class="red" [class.checkTrue]="selectedPDF.length > 0 && selectedPDF.indexOf(true) !== -1" (click)="onPDFDeleteClick()"><i class="fa fa-trash" title="delete"></i></button></span>
                </div>                
            </div>
            <div [dragula]='"pdf-bag"' [dragulaModel]="pdfs">
                <div *ngFor="let pdf of pdfs" class="dotted-bootom-div layout-row somespace-top layout-align-start-center">
                    <div class="flex-50 layout-row layout-align-start-center pad-l-15">
                        <label class="checkbox-inline custom-checkbox nowrap">                        
                            <input type="checkbox" id="inlineCheckbox05"  [(ngModel)]="selectedPDF[pdf.id]" (click)="onCheckTabChange(selectedPDF[pdf.id], pdf.id)">
                            <span></span>
                        </label>                         
                        <span class="layout-align-center-center layout-row"><i class="fa fa-arrows" aria-hidden="true"></i></span>
                        <div class="layout-column menu-tb-span ">
                            <span class="pdf-data">{{pdf.name}}</span>
                            <span>{{pdf.section}}</span>
                            <span><a href="{{pdf.url}}" target="_blank">{{pdf.file_name}}</a></span>
                        </div>
                    </div>
                    <div class="flex-50 layout-row layout-align-end pad-r-15">
                        <button class="edit-btn" (click)="showEditDialog(pdf.id)">edit</button>
                        <!--<span class="lastspan-out"><button class="red" (click)="onDeleteClick(pdf.id)">delete</button></span>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-50 layout-column">
            <mobile-view [tabId]='tabId'></mobile-view>
        </div>
    </div>

    <!-- Add Dialog START-->
    <p-dialog [draggable]="false"  header="Add New PDF" [(visible)]="addDialogDisplay" modal="modal" class="app-dialog add-app ">
        <div *ngIf="showLoader" class="fm-spinner">
            <div class="fm-double-bounce1"></div>
            <div class="fm-double-bounce2"></div>
        </div>
        <form (ngSubmit)="onAddSubmit()">
            <div class="layout-column border-all white-bg web-bg">
                <div class="web-bg">
                    <div class="layout-row m-b-15 layout-align-space-between">
                        <div class="layout-column flex-45">
                            <label>Name
                                <i class="fa fa-info-circle l" tooltip="Enter the PDF name" tooltipPlacement="right" aria-hidden="true"></i>
                            </label>
                            <input class="input-class" type="text" [(ngModel)]="addData.name">
                        </div>
                        <div class="layout-column flex-45">
                            <label>Section
                                <i class="fa fa-info-circle l" tooltip="Enter the PDF section" tooltipPlacement="right" aria-hidden="true"></i>
                            </label>
                            <input class="input-class" type="text" [(ngModel)]="addData.section">
                        </div>
                    </div>
                </div>
                <div class="layout-row  web-bg">
                    <label class="checkbox-inline custom-checkbox nowrap">
                        <input  type="checkbox" [(ngModel)]="addData.is_printing_allowed">
                        <span>Allow printing from within app <i class="fa fa-info-circle l" tooltip="This feature works for version 44.0 Cherry and newer." tooltipPlacement="right" aria-hidden="true"></i></span>
                    </label>
                    <!--                    <input type="checkbox" [(ngModel)]="addData.is_printing_allowed">
                    <span></span>-->
                </div>
                <div class="web-bg">
                    <label>PDF
                        <i class="fa fa-info-circle l" tooltip="Upload the PDF file" tooltipPlacement="right" aria-hidden="true"></i>
                    </label>
                    <div class="layout-row  layout-align-space-between-center">
                        <div class="layout-column flex-35">
                            <label>Upload a file:</label>
                            <input type="file" (change)="onAddFileChange($event)">
                        </div>
                        <div class="layout-column flex-10 layout-align-start-center"><span>OR</span></div>
                        <div class="layout-column flex-45">
                            <label>Type the URL:</label>
                            <input class="input-class" type="text" [(ngModel)]="addData.url">
                        </div>
                    </div>
                </div>
                <div class="save-btn">
                    <button class="blue-btn btn btn-lg" [disabled]="addSaveButtonHide" type="submit">SAVE</button>
                </div>
            </div>
<!--            <footer>
                <div class="">
                </div>
            </footer>-->
        </form>
    </p-dialog>
    <!-- Add Dialog END-->

    <!-- Edit Dialog START -->
    <p-dialog [draggable]="false"  header="Edit PDF Details" [(visible)]="editDialogDisplay" modal="modal" class="app-dialog add-app ">
        <div *ngIf="showLoader" class="fm-spinner">
            <div class="fm-double-bounce1"></div>
            <div class="fm-double-bounce2"></div>
        </div>
        <form (ngSubmit)="onEditSubmit()" *ngIf="editData.id">
            <div class="layout-column border-all white-bg web-bg ">
                <div class="web-bg">
                    <div class="layout-row m-b-15 layout-align-space-between">
                        <div class="layout-column flex-45">
                            <label>Name
                                <i class="fa fa-info-circle l" tooltip="Enter the PDF name" tooltipPlacement="right" aria-hidden="true"></i>
                            </label>
                            <input class="input-class" type="text" [(ngModel)]="editData.name">
                        </div>
                        <div class="layout-column flex-45">
                            <label>Section
                                <i class="fa fa-info-circle l" tooltip="Enter the PDF section" tooltipPlacement="right" aria-hidden="true"></i>
                            </label>
                            <input class="input-class" type="text" [(ngModel)]="editData.section">
                        </div>
                    </div>
                </div>
                <div class="layout-row m-b-15 web-bg">
                    <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" [(ngModel)]="editData.is_printing_allowed">
                        <span>Allow printing from within app <i class="fa fa-info-circle l" tooltip="This feature works for version 44.0 Cherry and newer." tooltipPlacement="right" aria-hidden="true"></i></span>
                    </label>
                    <!--                    <input type="checkbox" [(ngModel)]="editData.is_printing_allowed">
                    <span>Allow printing from within app <i class="fa fa-info-circle l" tooltip="This feature works for version 44.0 Cherry and newer." tooltipPlacement="right" aria-hidden="true"></i></span>
                    -->
                </div>
                <div class="web-bg">
                    <label>PDF
                        <i class="fa fa-info-circle l" tooltip="Upload the PDF file" tooltipPlacement="right" aria-hidden="true"></i>
                    </label>
                    <div class="layout-row  layout-align-space-between">
                        <div class="layout-column flex-45">
                            <label>Upload a file:</label>
                            <input type="file" (change)="onEditFileChange($event)">
                        </div>
                        <div class="layout-column flex-10 layout-align-start-center"><span>OR</span></div>
                        <div class="layout-column flex-45">
                            <label>Type the URL:</label>
                            <input class="input-class" type="text" [(ngModel)]="editData.url">
                        </div>
                    </div>
                </div>
                <div class="save-btn">
                    <button class="blue-btn btn btn-lg" [disabled]="addSaveButtonHide" type="submit">SAVE</button>
                </div>
            </div>
<!--            <footer>
                <div class="">
                </div>
            </footer>-->
        </form>
    </p-dialog>
    <!-- Edit Dialog END -->

    <!-- Delete Dialog START -->
    <p-dialog [draggable]="false"  header="Delete PDF ?" [(visible)]="showDeleteDialog" modal="modal" class="app-dialog add-app">
        <div *ngIf="showLoader" class="fm-spinner">
            <div class="fm-double-bounce1"></div>
            <div class="fm-double-bounce2"></div>
        </div>
        <p style="color: #000">Are you sure you want to delete the selected PDF document ?</p>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix layout-row layout-align-end">
                <a type="" pButton icon="fa-check" label="Yes" class="login-btn cursor-p" (click)="onLocationDeleteClick()">Yes</a>
                <a type="" pButton icon="fa-check" label="No" class=" login-btn cncle-btn cursor-p" (click)="showDeleteDialog=false">No</a>
            </div>
        </footer>
    </p-dialog>
    <!-- Delete Dialog END -->
</div>