
@font-face {
  font-family: 'DBLCDTempBlack';
  src: url('DBLCDTempBlack.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DBLCDTempBlack';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAABLsAA4AAAAAJTwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAAPoAAAAEwA
AABgh9L7jlZETVgAAA/sAAAC/gAABeB0xnzyY21hcAAADnQAAAEKAAABanw2UQpjdnQgAAANHAAA
AAIAAAACABQAAGZwZ20AAAHsAAAA/AAAAWIyR3NgZ2x5ZgAAA0gAAAnUAAAYFBlKMrZoZWFkAAAN
IAAAADYAAAA23CZyRGhoZWEAAA1YAAAAIAAAACQFkwH/aG10eAAAAUQAAAClAAAA0LljAm9sb2Nh
AAAC7AAAAFkAAABqqv6lHm1heHAAAA+AAAAAIAAAACACRQGVbmFtZQAADegAAACLAAAA37t4ryJw
b3N0AAANeAAAAG8AAACKBm0HB3ByZXAAAALoAAAABAAAAAS4AAAreNpj/MJgzwAEjA4QzFTD4Mgo
wcDIVMfgxCjw/y9Tw/9/jIYM0ky5//8xNf3/w9TPEMBUDaSrgfwghgimVqAeoDhYbzOQ/v7/KZMf
kBYGqmkA4ggGTybJ//dBckwRQD1Y5DhZGRg4tzEwcGsxMLC5ADELAwPHCwjm4mNgEMiEuA0kz9TH
EMjUwKDB9IRBAmjvdaYyBhGmJgZhoFt4mdIY/AEH6D9QAAAAeNpdj79OxDAMxhNSDngDpAgpVlWG
U07sTB3SSqhLoQzxwh/pTqL3DkhdWDzwLGYLW18MgdurbmCJ/X22fvmclPJNUqaNX1p/YtK/H0mF
q29llHl+2iSlvXNVH1i/iDjxYqxBOuNdzaaoH2KOjhzdbcnV7u11y1kxVxnsCG8cqy728j5G4BLt
sd0h3gonmzjZzCEUwn4h7GeCAH5k6dQ3js11G+8jD8FyGdACuIrHNvIYLCDK1uqYVOp7f7lkPpPM
q7U05wdKJwxBINFB5cAjkSW5Y9FJq/9GuRhy+AQwRZX00M6jIQc7GTnkILEwyFcXvuliJcEAN38K
n2cDuAAAK3jaY2BgMIHCWQy7GN4x8jBWMS5iUmPqY7rDnML8hEWOpYvlH8s/1hDWU2xKbF5sy9ju
sVuxT+Bg44jjaON4xCnFWYYDruLi4IrjOsctxN3AvYyHCwAsMxlVAAAAeNrtWGFsW1cVvvc9v7zY
ThPH79kvTWI7tuM4bUYd1yxeVdRojrqq6aoAQhMUnHT2D0CitGQD2kHpJAQSa5GoBj/2B9QBW0UF
UiVo06hMGz/Y2CY1UoXaSRV0kyoxmFAFaEwlvuY799734qgrDCEESFWU3POeb3zP+c53vnvuZQab
brf5OTPDTGaz6SXWXVpiYfx2x5YYW8EvPcM2r8HGGMJoYrSusWUWYoyZE8vMYF0YJ8tef7a/UOnP
T/Mvihdv3eLmyOr1aeP7mGWx+9mPjWHjINbpYQmWYeNsF75hA4vLbwjju2j0WBLjEkt2LO/BNlbU
uFGPIytqTnZlsszz1Uo1X93BK1uTtlmxe3k+NzZtVMp4hF2w8Uif8g/X4/W+Rl8ol3C90FPNmDJ+
4n7EHbBCOVf81VFWgjfrldlEKpUQf3yQhmONlOumGvIvY5zxdpt9jb0O76Nsidkl8nOyXN2a7ONq
cb6D78NXD6oVNlq511Pu425K/gFaNT5vDPPnWYQ5LA8UmMRPAdy9osYoxi6MPRShjGSCVyvlfBDN
zYQXCuXd087pF93TWIX8fn6dn+0W/PwUa8DLKFYxgTJlSSMlPeX4BvU9CW+SQoWTjPxpi3bbWAAv
LPxvnA2yHDK2E98yxNIyU0n4TiPH81B/fNuyjCYprY2BlQ0+LWoL69tjVQcZc6aqXgEZyztVqzhV
yW71bNPrymdzxSqvmF128XOHTGOm0dWYMew9/Khh1JqVRfHdPT1RftAOP3JoticivhWJHOKl5ozR
PXu4Ho3wuRE+F4nOfyxsi7OcLdTmLXN/65l5y5rnKXE2Eq0jNoMNgfP9iK2b9csMWshgLzLo5B2f
RaaEp/pyo2bJHJ5pzKhk8u/xOcqkOCnO0ghuB1hFwd8R4FRm9SCry0CvR45ZNqq53sUYkFB5jqws
ox56WFy+6cGb5AohqOYso1JGWVZaY9qaLBdU+giprKnoQOhlTUK2TLASjsCUIxQAOc35GVdmWQE2
/o7mOeEorteA8wOEcR9BepUAvmYYO43uPeOLDaKENW/soxFYXiSUF6KR+pG6Vbf4DgB9Ck8vLTAW
aq9qHCJgR4ZtYtMSBVNGTUjTOAaEaHTx3C9jjiLmBGIexkyFywjejIP3MgwVn9MRZkFF5VS5fmln
eVOyQQV5eF10/EeGcRz8OLAoYrpMXFe81Zi3Um4i5QdWC9utGvhhFBfEfllF8OaDiOcA4tmAfGTY
BFN6lCxRzVNmBmUkfRgzMkMpbamK1RQCpTjyUtbUcihrFaMGV46r4jsRyonvHDSNnYppT4q3kKNX
zUzKbdWIYcZzbkqcr0ejfEES75BVB+cI64bknIt1x9kk+yTQToNl5JPPvQFwi8bu2zhHKjwgvY4H
XBvS75APzBrGrE3BrC1Uy0FsxD6qWU6BgXB9nLhIycnwIGeafVVjSiVEvCZrV/Qrum3eTVwsRiOH
xNW3O9LHr9Hn3bObCIJEat4S+yh2lPWlw+BcfVVljteiEXEKKbvE/BokPGzkIwFfN7FPA48cK2i1
GtYsjGl8YpJ9y9C3AstJKxxYvZit9MsN5qX1O7XvjACbcT0fiOhALao/oGFKKJwOnHxhMzwdm3gZ
RXcCKAy43AUEp9ZBdDnQth/4QV5C4RnPAQRxoWHV+QsKmtYMaRvV2EcR/yTi70KMg8AA+2SJuGlL
zedKZ+1sUEaBxBlblLI+Ia6v1c23mzOKnIbwpVTWiWj6qkd7OsOaD0sdjYFpI9CnvYwwdiXGw6ga
GnPY42i08L5f7xS+1Yc5w9LygncZ/S7AFYWugXU0jI7aL/p4xc4b+zknIA88IhyN6VcBojgJVA/P
RuVmsfjOBecCheLXeOsxH87WzwlBYx/tFKsNGVegYzYqfwBc2izj6kVkFIepu54w4qCxi56l5xvw
Jqx3QN/KBJ8W8f+9Mi7tvm1VkJAi71A5XU52EPnf/O1OvP2qS8rAIx2l0qMriT/ra5xxUQViibYu
E88vHj6+Fj/FGeqIMw5+51gJrOmBum0srUWZQwTro4xrK4ijj/tSN1W11nSvaqIxC/z/81Elb8gP
fwneKnp9efHyL9wXlNNe67iSu0jUIk/lw0HIcYN8vQFfd8PXMKo7her+OCMeqWpO6511fR+1jC4k
xiKyZiN4464Qy9QbYueo1DO1r6blrLTed3yFw+7asdMWNAkLnfp3RXVP4g8o453r9ljxS81G/tC6
2tZNmnha7axJn4iPqYoGtoG2h1ETI2w7o+6EuoShd43SJd3W+4+ylH5n1kVSWMvRugBudgQgbnYk
6dS7eX1jLUfDvr8G+cv+9J76qTPvqZ/yeUm64iG7Rfyobx0tUR2GJQ5RjL0y7kFtYUV/IZ6X3Mxo
4bNIlfMO9z+e8f3gl69qhnq6wSwhZfc2ZviYL4H8mPLMOAGWprUcxkiJb/G5NbdRMbvhd172C50a
LCsHGhy0MBL9PhxbAlg+r5LAD6rxm1ublW2Nmlbgi7IrB9gZIcQba/obav8WfWxL9510oqIOpVBS
JxKnRPv5gGbMgO7CU9qaLJtrLYlpkdT4NrUnUCTb9y0NjYEnYEOVPwyNqSq3HhAPQWCvA7ybzXs1
UEeCHuV3u9AUck/ap8pWvW7lxF+04/9fuiOCWvyf0p2bd3Xnru7c1Z1/RXcM9iE+b0z8u/cubX3v
4j6r712A37p7ly42jnw8Ku/UIvLuhDrjMiNdSEpcevVZmFjbq/vFJHN0v6gsrG7nq/wf3Y+YNKGE
nPEf/rPLkSLN+ooQ/PE73owYBSFYCHnixpTO7RC8KTM/r0tsAL/pksqrrSvAt4a1Bb7dIcN8mnsF
xDB0p8Re3vzM/eJnM6NH75RQsXjpxtzO37zCP6HuqK4A51F55ukFainsGWOyU7d1Zx5HLdCY0XdW
DM/xoFNXfieCd0PBO7q1ygQnEBzszPXnDtvx5HmviIjsKM87RtY07quUJ5647eAxPLSdjntfcj8z
tXfHgeZnzTAOdG9WJq60zq2dO8Sv3ieu0iHPaxj33MenW28YaaprF/E9FeQif9udkmJseEXdGyVW
1m6GxqqV4GYoaeezlsdt/opW1pPvLyzykTf90x6exHXOjop9j8rbnq66uhTpqud56/ccKzqaz//F
u8Cv/6fuAje0bxncTMs9hHEiq5cGVh5UqLiFV/n0/vM9E4n4hqh4beF8dCLhYMlvjPFZJ97dXXTF
xTFxTplAZ669asxqPjqoiDG2jVFXs8TyJcLElijFNCsZ8VSz0beIsbFO5pW4RoOoFug2r3r+6X2X
Yt4qEe4ICPdT9wtTe880j2lp/MCDg9uVGTAvJin3tKbak1RafOP2e8SvlU7+HUmaougAFAAAAAEA
AAABAAAHf2DBXw889QAJA+gAAAAAvPYfKAAAAAC9ow8j/9f/+gKZAx8AAAADAAIAAAAAAAB42mNg
ZGBgVvhvwcDA9OT/9f/rmGYyAEVQgAkAmmoGlXjabco5DgEBAEDRZ/T2nUJBkGgIEQmdgkSj0rjJ
nGAymVostcqB3MIRmKi95Hdf4OcTqvhnlpYRyMrJKygqp2dVTV1DU0tbR1fP0MjYxMLKxtbO3sHR
SSSWOLu4url7eHp5G1jqW5sqmX8Bu4gPdAB42mNgYGBniGJgZIAAaQY+KJuRgZtBE8pmYmBlMIGy
mYEsSyibhUGQIRfKZgWaUwdlswFNYXBx8nF2CUnNLXDKSUzOXqlgZGBgouBYUJCTquCcn1tQWpJa
pKPgmZes5+KkAFSpAFeKxFcAC1ijabNWMNUzSDFJNbRWMDTUNzTXNzDB0ANVAQCvpSrmAHjabZC7
S4JhFMZ/n5/Z3VuFdCE+Pmiy6LI5BCYRthREBIlIRRdbEiICW9odXVpbI9oMGhoKoq1RcFGR/ocm
7XR8+6bowHPO+zxwfvAewAJs1RB+K6czRZIefDgkWFa3xjqbbLHNDhkOOOaUAudccMkVt9zxwCNN
q+x7t5/tFyfshtyoGxdRlkNcGSusKmPDY+yyz6EyzjxG0WNU/jAiXYZ8glSVhHyoWvImNUxJRfUq
9/KksyRFuZaCpL5vOkftfPuk+dWIQb1jfpdUZchqz/3uGtd973k+y/+VNt2v9wjQyxJ99DPAoN5q
mCAhwkQYYZ45RhkjxiLjLDBhkkmmmNbE0WSG2R+zL0rNAAAAAQAAADQAMgAGAAAAAAABAAAAAAAK
AAACAAFiAAAAAHjaY2BinsDcwsDKwMi0h6mLgYGhH0IzHmUwYmQG8hk4GSCggYFhNZBygHIZHHNK
ioE8BSVtZoX/FgwMzApgYUYQwawA5gExAGrXCtt42h3QZxzGUxmH8a9XISGpzIxo2CMjm6wQsves
zBRCIaNhjzLKjrL33puM7JnRMBpm2dm6nOfF9Xz+55z7/g1MYIKPfybx9oQfmdAnMFH/TDz4yb50
O3H8VF9M2heTDU7eGZ/ujCk64zOdMeXgZ7vhc93w+W6YqhumHpyme6btnum6Z/ru+cLgDL1ixl4x
U6+YuVd8cXCW3jJrb/lSb/lyb/nK4FebYLYmmL0J5miCOQfnao65m2Oe5pi3OeYbnL9pvtY0CzTN
gk2z0ODC7eDr7WCRdrBoO1hscPE2sUSbWLJNLNUmlh5cpn18o30s2z6Wax/LD67QVlZsK99sKyu1
lZUHV2k332o3q7ab1drN6oPfToE1UmDNFFgrBdYeXCcd1k2H9dJh/XTYYHDD1NgoNTZOjU1SY9PB
zdJk8zTZIk22TJPvDH43Zb6XMlulzNYps83gtumzXfpsnz7fT58dBn+QC36YC3bMBTvlgp0Hf5QX
dskLu+aF3fLCjwd/kiN2zxF75Ig9c8RPB/fKF3vni33yxb754meDP88dv8gdv8wd++WO/QcPyCMH
5pGD8sjBeeSQwUNzymE55fCc8quc8uvBI/LLkfnlqPxydH75zeBvc80xuebYXHNcrjl+8IS8c2Le
OSnv/C7vnDx4Sgn4fQn4Qwk4tQScNnh6OTijHJxZDs4qB2cPnlMazi0N55WG80vDBYMXlomLysTF
ZeKSMnHp4GUl4/KScUXJuLJkXDV4dfm4pnxcWz6uKx/XD95QSm4sJTeVkptLyS2Dt5aVP5aV28rK
7WXljsE7S8yfSsxdJebuEnPP4L3l5r5yc3+5eaDcPDj4UOl5uPQ8UnoeLT1/HnysDni8DniiDniy
DvjL4F9rgr/VBH+vCZ6qCZ4efKY+eLY++Ed98M/64F+D/64VnqsVnq8VXqgVXhx8qW54uW74T93w
37rhlcFXa4jXaojXa4g3aog3B9+qJ/5XT7xdT7xTT7w7+F5t8X5t8UFt8WFt8dHH/D87j+fDAAA=) format('woff'), url('DBLCDTempBlack.ttf')  format('truetype'), url('DBLCDTempBlack.svg#DBLCDTempBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}


