page-website-tab {

}
.btn-update.item-md {
    background-color: rgba(255, 255, 255, 0.53);
}
ion-content{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
ion-item-divider{
    opacity: .7 !important
}