<!--
  Generated template for the ShoppingCartItemDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar [style.background]="'url(' + globalService.tabHeaderBgImageSrcs[globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].header.background_img : globalService.initData.globalStyleSettings.header.background_img] + ')'"
        [style.background-color]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].header.background_color : globalService.initData.globalStyleSettings.header.background_color"
        [style.opacity]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].header.background_opacity : globalService.initData.globalStyleSettings.header.background_opacity">
        <ion-title *ngIf="tab_nav_type=='tab'" [style.color]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].header.text_color : globalService.initData.globalStyleSettings.header.text_color"
            [style.text-shadow]="globalService.initData.individualSettings[tabId] ? '0px 0px 5px ' + globalService.initData.individualSettings[tabId].header.shadow : '0px 0px 5px ' + globalService.initData.globalStyleSettings.header.shadow">{{globalService.appTabTitleLanguages?.tab_translation?globalService.appTabTitleLanguages?.tab_translation[globalService.currentLanguage][tabId]?globalService.appTabTitleLanguages?.tab_translation[globalService.currentLanguage][tabId]:title:title}}</ion-title>
        <ion-title *ngIf="tab_nav_type=='subtab'" [style.color]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].header.text_color : globalService.initData.globalStyleSettings.header.text_color"
            [style.text-shadow]="globalService.initData.individualSettings[tabId] ? '0px 0px 5px ' + globalService.initData.individualSettings[tabId].header.shadow : '0px 0px 5px ' + globalService.initData.globalStyleSettings.header.shadow">{{globalService.appTabTitleLanguages?.sub_tab_translation?globalService.appTabTitleLanguages?.sub_tab_translation[globalService.currentLanguage][subTabId]?globalService.appTabTitleLanguages?.sub_tab_translation[globalService.currentLanguage][subTabId]:title:title}}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="service.openCart(navCtrl, tabId)" [style.color]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].header.text_color : globalService.initData.globalStyleSettings.header.text_color">
                <ion-icon name="cart"></ion-icon>
                <ion-badge *ngIf="service.cartTotal" color="danger">{{service.cartTotal}}</ion-badge>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <md-spinner [state]="loader" [type]="'fixed'"></md-spinner>

    <template [ngIf]="!loader">
        <ion-card class="product-card">
            <ion-slides [options]="sliderOptions" #imageSlides>
                <ion-slide *ngFor="let image of images" [style.height.px]="350">
                    <img [src]="image.image_url">
                </ion-slide>
            </ion-slides>
            <ion-card-content>
                <ion-card-title>{{item.name}}</ion-card-title>
                <h2>
                    <span [innerHTML]="service.currencySymbolList[service.payment['currency']] || currency"></span>
                    {{((item.price + optionCharges) * previousQuantity) | number: '1.2-2'}}
                </h2>
                <p>
                    {{showMore ? item.description : (item.description | trimmer:120)}}
                    <a *ngIf="item.description.length > 120" (click)="onShowMoreToggle()">{{showMore ? 'show less' : 'show more'}}</a>
                </p>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header [style.color]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.section_text : globalService.initData.globalStyleSettings.lists.section_text"
                [style.background-color]="(globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.section_bar : globalService.initData.globalStyleSettings.lists.section_bar)| hex2rgba">
                Quantity
            </ion-card-header>
            <ion-item>
                <ion-select [(ngModel)]="cartItem.quantity" [selectOptions]="{title: 'Select Quantity'}" (ionChange)="onQuantityChange()">
                    <ion-option *ngFor="let quantity of quantityOptions">{{quantity}}</ion-option>
                    <ion-option *ngIf="item.inventory > 5" [value]="-1">More</ion-option>
                </ion-select>
            </ion-item>
        </ion-card>

        <ion-card *ngIf="sizes.length">
            <ion-card-header [style.color]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.section_text : globalService.initData.globalStyleSettings.lists.section_text"
                [style.background-color]="(globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.section_bar : globalService.initData.globalStyleSettings.lists.section_bar)| hex2rgba">
                Size
            </ion-card-header>
            <ion-item>
                <ion-select [(ngModel)]="selectedSize" [selectOptions]="{title: 'Select Size'}" (ionChange)="onSizeChange()">
                    <ion-option *ngFor="let size of sizes" [value]="size">{{size.title}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-card>

        <ion-card *ngIf="options.length">
            <ion-card-header [style.color]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.section_text : globalService.initData.globalStyleSettings.lists.section_text"
                [style.background-color]="(globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.section_bar : globalService.initData.globalStyleSettings.lists.section_bar)| hex2rgba">
                Options
            </ion-card-header>
            <ion-list>
                <ion-item *ngFor="let option of options; let i = index">
                    <ion-label>{{option.title}}</ion-label>
                    <ion-checkbox [(ngModel)]="selectedOptions[i]" (ionChange)="onOptionsChange(selectedOptions[i], option.charges)"></ion-checkbox>
                </ion-item>
            </ion-list>
        </ion-card>

        <ion-card>
            <ion-card-header [style.color]="globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.section_text : globalService.initData.globalStyleSettings.lists.section_text"
                [style.background-color]="(globalService.initData.individualSettings[tabId] ? globalService.initData.individualSettings[tabId].color.section_bar : globalService.initData.globalStyleSettings.lists.section_bar)| hex2rgba">
                Additional Notes
            </ion-card-header>
            <ion-textarea [(ngModel)]="cartItem.notes" placeholder="Enter text here" class="notes"></ion-textarea>
        </ion-card>

        <button ion-button block (click)="onAddToCartClick()" class="add-to-cart-button" [style.background-color]="(globalService.initData.globalStyleSettings?.features?.button_image)| hex2rgba"
            [style.color]="globalService.initData.globalStyleSettings?.features?.button_text">Add To Cart</button>
    </template>
</ion-content>