page-social {
    .card-header .label-md{
        display: flex;
    }
    .item-right{
        text-align: right;
    }

    .invisible {
        display: none;
    }
}
.m-l-10{
    margin-left: 10px;
    
}