page-email-form-guideline {

    ion-content.pop-over {
   background: #fafafa;
padding: 6px;
}
}
.popover-md .popover-content {
    background: #fafafa;
    box-shadow: 0px 0px 10px #222 !important;
    border-radius: 5px;
}