<div *ngIf="!ready || showMainLoader" class="fm-spinner">
    <div class="fm-double-bounce1"></div>
    <div class="fm-double-bounce2"></div>
</div>
<div class="around-us-wrap event-cal-divs">
    <div class="flex-100 spaceborder">
    </div>
    <div class="flex-100 layout-row secondtab-block layout-align-space-between-center">
        <div class="">
            <ul class="secondcontent-block contact-us-wrap " style="padding-left: 0px;">
                <li class="title-head">{{tabData.title + ' - ' + tabData.tab_func_name}}</li>
                <!--<li class="title-sbhead">You have {{eventsList.length}} event(s)</li>-->
            </ul>
        </div>
        <div class="layout-row layout-align-space-between-center">
            <button class="green-btn m-r-10" (click)="showImportEventDialog()">
                <i class="fa fa-plus ion-right" aria-hidden="true"></i> IMPORT EVENTS
            </button>
            <button class="green-btn m-r-10" (click)="showDialog()">
                <i class="fa fa-plus ion-right" aria-hidden="true"></i> ADD SINGLE EVENTS
            </button>
            <button class="green-btn" (click)="showRecurringDialog()">
                <i class="fa fa-repeat ion-right" aria-hidden="true" ></i> RECURRING EVENTS
            </button>
        </div>
    </div>

    <!--settings modal-->
    <div class="calender-event-div1">
        <div class="flex-100 layout-row  calender-event block-1 layout-align-space-between-center">
            <div class=" layout-row layout-align-start-center">Auto Deactivate<i class="fa fa-info-circle l" tooltip="Your past events will be deactivated automatically after 2 weeks."
                    tooltipPlacement="right" aria-hidden="true"></i> ::
            </div>
            <div class="layout-row layout-align-start-center ">
                <label class="checkbox-inline custom-checkbox nowrap layout-row layout-align-start-center m-r-10">
                    <input type="checkbox" id="inlineCheckbox02" [checked]="settings['populate_events']" [(ngModel)]="settings.populate_events" >
                    <span>Populate Events <i class="fa fa-info-circle l" tooltip="Number of weeks in advance to populate recurring events."
                                             tooltipPlacement="right" aria-hidden="true"></i> </span>
                </label>
                <div class="  layout-row layout-align-start-center m-r-10"><label>Weeks</label>
                    <p-dropdown [options]="weeks" [(ngModel)]="settings.weeks"></p-dropdown>
                </div>
                <div class="layout-row layout-row layout-align-start-center">
                    <div class="layout-row  layout-align-start-center m-r-10">Sort By<i class="fa fa-info-circle l" tooltip="Choose how your events are sorted" tooltipPlacement="right"
                            aria-hidden="true"></i></div>
                    <div class="layout-row layout-align-start-center m-r-10">
                        <p-radioButton name="time" [value]="SORT_BY_DATETIME" [(ngModel)]="settings.sort_by"></p-radioButton><span class="m-l-10">Date/Time</span>
                    </div>
                    <div class="layout-row  layout-align-start-center">
                        <p-radioButton name="manual" [value]="SORT_BY_MANUAL" [(ngModel)]="settings.sort_by"></p-radioButton><span class="m-l-10">Manual Orders</span></div>
                </div>
            </div>
            <div class="layout-column layout-align-center-center ">
                <button class="blue-btn" (click)="saveSettings()">Update Settings</button>
            </div>
        </div>
    </div>

    <!-- End of settings-->
    <!--start of events list-->

    <div class="flex-100 layout-row main-social-tab-container pdf arnd">
        <div class="flex-50 layout-column boder-left-div">
            <div class="dotted-bootom-div layout-column layout-align-end">
                <div class="layout-row layout-align-space-between-center pdf-box">
                    <ul class="secondcontent-block contact-us-wrap " style="padding-left: 0px;">
                        <!--<li class="title-head">{{tabData.title + ' - ' + tabData.tab_func_name}}</li>-->
                        <li class="title-sbhead">You have {{eventsList.length}} event(s)</li>
                    </ul>
                </div>
                <div class="layout-row layout-align-space-between-center pad-al-15">
                    <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" id="inlineCheckbox01" [(ngModel)]="checkAll" (change)="onCheckAllChange()" >
                        <span>Select All</span>
                    </label>
                    <span class="lastspan-out"><button class="red" [class.checkTrue]="selectedItem.length > 0 && selectedItem.indexOf(true) !== -1" (click)="onEventDeleteClick()"><i class="fa fa-trash" title="delete"></i></button></span>
                </div>
            </div>

            <div [dragula]="EVENTS_BAG" [dragulaModel]="eventsList">
                <div class="dotted-bootom-div layout-row somespace-top layout-align-start-center" *ngFor="let item of eventsList; let i=index">
                    <div class="flex-50 layout-row layout-align-start-center pad-l-15">

                        <label class="checkbox-inline custom-checkbox nowrap">
                            <input type="checkbox" id="inlineCheckbox02"  [(ngModel)]="selectedItem[item.id]" (click)="onCheckTabChange(selectedItem[item.id], item.id)">
                            <span> </span>
                        </label>
                        <span class="layout-align-center-center layout-row" *ngIf="settings.sort_by === SORT_BY_MANUAL"><i class="fa fa-arrows" aria-hidden="true"></i></span>
                        <span *ngIf="settings.sort_by === SORT_BY_DATETIME">{{i + 1}}</span>

                        <div class="layout-column menu-tb-span">
                            <span>{{item.name}}</span>
                            <span *ngIf="(item.event_start_date | datePipe) != (item.event_end_date | datePipe)">{{item.event_start_date | dateTimePipe}}~{{item.event_end_date | dateTimePipe}}</span>
                            <span *ngIf="(item.event_start_date | datePipe) === (item.event_end_date | datePipe)">{{item.event_start_date | dateTimePipe}}~{{item.event_end_date | timePipe}}</span>
                            <span *ngIf="item.status === EVENT_STATUS_DISABLED" class="menu-item-disabled">INACTIVE</span>
                        </div>
                    </div>
                    <div class="flex-50 layout-row layout-align-end pad-r-15">
                        <span><button class="edit-btn m-r-0" (click)="showEditDialog(item.id)">edit</button></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-50 layout-column">
            <mobile-view [tabId]='tabId'></mobile-view>
        </div>
    </div>
</div>

<!--end of events list-->

<!--Add/Edit Single Event-->
<p-dialog [draggable]="false"  [header]="eventHeader" [(visible)]="dialogDisplay" [class.tab-design-class]="tabwrap" modal="modal" (onAfterHide)="onDialogHide()"
    class="app-dialog add-app single-eve info-2 evnt-wrap" [height]="dialogHeight">
    <div *ngIf="showLoader" class="fm-spinner">
        <div class="fm-double-bounce1"></div>
        <div class="fm-double-bounce2"></div>
    </div>
    <tabset class="container-tab-detail">
        <tab heading="GENERAL INFORMATION">
            <div class="tabinner-space contact-us">
                <form class="contact-us-formr">
                    <div class="">
                        <div class="event-cal-wrap">
                            <div class="flex-100 layout-row layout-align-space-between">
                                <div class="layout-column flex-100 add-app">
                                    <div class="phone layout-row layout-align-start-center" *ngIf="imageShow">
                                        <label class="checkbox-inline custom-checkbox nowrap">
                                   <input id="inlineCheckbox01" type="checkbox" [(ngModel)]="singleEventData.is_header_required">
                                    <span>&nbsp;</span>
                                </label>

                                        <label class="layout-row layout-align-start-center">Phone Header Image
                                                <i class="fa fa-info-circle layout-row setinput-icon" tooltip='Upload a Phone Header Image 640x264px.' tooltipPlacement="right" aria-hidden="true"></i>
                                            </label>
                                        <thumbnail-file-reader class=" layout-row layout-align-start-center" [btnText]="'Browse'" [imageTypeHeader]="true" (delete)="deleteImage('phone_header',singleEventData.id)"
                                            [defaultPicture]="singleEventData.phone_header_image" (complete)="onPhoneHeaderImageChange($event)">
                                        </thumbnail-file-reader>
                                    </div>
                                    <div *ngIf="imageShow" class="layout-row m-l-25">
                                        <label class="layout-row layout-align-start-center">Tablet Header Image
                                                <i class="fa fa-info-circle layout-row setinput-icon" tooltip='Upload a Tablet Header Image 1536x634px.' tooltipPlacement="right" aria-hidden="true"></i>
                                            </label>
                                        <thumbnail-file-reader [btnText]="'Browse'" (delete)="deleteImage('tablet_header',singleEventData.id)" [imageTypeHeader]="true"
                                            [defaultPicture]="singleEventData.tablet_header_image" (complete)="onTabletHeaderImageChange($event)">
                                        </thumbnail-file-reader>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-column  m-b-15 layout-align-space-between">
                                <div class="layout-row m-b-15 layout-align-start-center">
                                    <div class="layout-column flex-100">
                                        <label class="layout-row layout-align-start-center flex-100 m-b-10">
                                            Event Date & Time  <i class="fa fa-info-circle layout-row setinput-icon" tooltip='Enter the event start & end date/times.' tooltipPlacement="right" aria-hidden="true"></i>
                                        </label>
                                        <div class="layout-row layout-align-space-between-center">
                                            <div class="layout-row flex-45 layout-align-center-center  ">
                                                <p-calendar readonlyInput="true" [(ngModel)]="event_start_date" [minDate]="currentDate"></p-calendar>

                                                <p-dropdown [options]="startTimeHour" [(ngModel)]="single_start_time_hour" class="flex-30 r-w-p layout-row layout-align-start-center"></p-dropdown>
                                                <p-dropdown [options]="startTimeMin" [(ngModel)]="single_start_time_min" class="flex-30 r-w-p layout-row layout-align-start-center"></p-dropdown>
                                                <p-dropdown [options]="meredian" [(ngModel)]="single_event_start_meredian" class="flex-30 r-w-p layout-row layout-align-start-center"></p-dropdown>
                                            </div>
                                            <div class="flex-10 layout-align-center-center layout-row">~</div>
                                            <div class="layout-row flex-45 layout-align-center-center">
                                                <p-calendar readonlyInput="true" [(ngModel)]="event_end_date" [minDate]="currentDate"></p-calendar>
                                                
                                                <p-dropdown [options]="startTimeHour" [(ngModel)]="single_end_time_hour" class="flex-30 r-w-p layout-row layout-align-start-center"></p-dropdown>
                                                <p-dropdown [options]="startTimeMin" [(ngModel)]="single_end_time_min" class="flex-30 r-w-p layout-row layout-align-start-center"></p-dropdown>
                                                <p-dropdown [options]="meredian" [(ngModel)]="single_event_end_meredian" class="flex-30 r-w-p layout-row layout-align-start-center"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layout-row layout-align-start-center tm-zn">
                                    <label>Timezone
                                            <i class="fa fa-info-circle l" tooltip="Select from the list of categories for this POI" tooltipPlacement="right" aria-hidden="true"></i>
                                        </label>
                                    <p-dropdown class="category-dropdown m-l-10 layout-row layout-align-start-center" [options]="timezoneSelect" [style]="{'width':'170px'}"
                                        [(ngModel)]="singleEventData.timezone_id" *ngIf="timezone"></p-dropdown>
                                </div>
                            </div>
                            <div class="layout-row m-b-15 ">
                                <div class="layout-column flex-100 ">
                                    <div class="layout-row m-b-15 ">
                                        <div class="layout-row flex-55 layout-align-start-center">
                                            <label>Name
                                            <i class="fa fa-info-circle l m-r-10" tooltip="Enter the name of your event." tooltipPlacement="right" aria-hidden="true"></i>
                                        </label>
                                            <input id="name" type="text" [(ngModel)]="singleEventData.name" class="flex-80">
                                        </div>
                                        <div class="layout-row flex-45 layout-align-start-center">

                                            <label class="checkbox-inline custom-checkbox nowrap">
                                            <input type="checkbox" id="inlineCheckbox01"id="inlineCheckbox08" [(ngModel)]="singleEventData.status">
                                            <span>Active <i class="fa fa-info-circle l" tooltip="Check to activate your event" tooltipPlacement="right" aria-hidden="true"></i></span>
                                        </label>
                                        </div>
                                    </div>
                                    <div class="layout-column layout-align-space-between">
                                        <div class="layout-column layout-align-space-between">
                                            <label class="m-b-10">Description
                                            <i class="fa fa-info-circle l" tooltip="Describe your event in detail here." tooltipPlacement="right" aria-hidden="true"></i>
                                        </label>
                                            <!--<ckeditor *ngIf="showEditor" [config]="ckEditorConfig" [(ngModel)]="singleEventData.description"></ckeditor>-->
                                            <div *ngIf="showEditor=='single'" id="description-editor"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="layout-row m-b-15 layout-align-space-between-center">
                                <div class="layout-column  layout-align-space-between-center ">
                                    <div class="layout-row  layout-align-start-center">

                                        <label class="checkbox-inline custom-checkbox nowrap">
                                            <input type="checkbox"id="inlineCheckbox03" [(ngModel)]="singleEventData.imported_location" (click)="onImportedLocationClick()" >
                                            <span>Use imported location(s) from the Home/Contact Tabs </span>
                                        </label>
                                    </div>
                                    <div class="importedLocation m-t-10" *ngIf="show == 1">
                                        <!--<div class="overlay" [style.display]="overlayDisplay"></div>-->
                                        <div class="layout-row flex-45 layout-align-start-center imp-data">
                                            <p-dropdown class="layout-row flex-100 layout-align-start-center" [options]="contactSelect" (onChange)="onLocationClick(singleEventData.location_id)"
                                                [(ngModel)]="singleEventData.location_id"></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-row">
                                <div class="layout-column">
                                    <label class="  layout-row layout-align-start-start flex-50">Custom Location Name
                                    </label>
                                    <label class="layout-row"> <i class="fa fa-info-circle layout-row setinput-icon m-r-10" tooltipPlacement="right" aria-hidden="true"></i>
                                        Use a custom location description instead of the default address format. If left blank, the default address format will be used.                       </label>

                                </div>
                            </div>
                            <div class="layout-row m-b-15 layout-align-start-center">
                                <div class="layout-column flex-45 m-r-10">
                                    <label class="m-b-10">Address Section 1
                                            <i class="fa fa-info-circle l" tooltip="The first section (or top row on your mobile device) of the address description" tooltipPlacement="right" aria-hidden="true"></i>
                                        </label>
                                    <input id="name" type="text" [(ngModel)]="singleEventData.address_sec_1">
                                </div>
                                <div class="layout-column flex-45 m-l-10">
                                    <label class="m-b-10">Address Section 2
                                            <i class="fa fa-info-circle l" tooltip="The second section (or bottom row on your mobile device) of the address description" tooltipPlacement="right" aria-hidden="true"></i>
                                        </label>
                                    <input id="name" type="text" [(ngModel)]="singleEventData.address_sec_2">
                                </div>
                            </div>

                            <div class="tb-2 web-bg  layout-row layout-align-center-center">
                                <div *ngIf="!addFormlocationEditorDisplay" (click)="showLocationEditor()" class="loctn-up"> <i class="fa fa-map-marker m-r-10" aria-hidden="true"></i>Click to edit your location.</div>

                                <div class="flex-100" *ngIf="addFormlocationEditorDisplay">
                                    <location-editor [lat]="singleEventData.m_lat" [long]="singleEventData.m_long" (latLongChange)="onLatLongChange($event)"></location-editor>
                                    <div class="layout-column dis-wrap">
                                    </div>
                                </div>
                            </div>

                            <div class="layout-align-start save-btn">
                                <button class="blue-btn btn btn-lg" type="submit" [disabled]="addSaveButtonHide" (click)="onSaveSingleEvent()">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </tab>
        <tab heading="COMMENTS" *ngIf="commentsTab">
            <div class="tabinner-space comment-sec" *ngIf="comments">
                <span>Showing {{comments.length}} Comment(s):</span>
                <div class="coment-conct-wrap">
                    <table class="flex-100 layout-column">
                        <tbody class="comment-box-wrap">
                            <tr class="layout-row flex-100">
                                <td class="flex-30 layout-row layout-align-center-center cl-up">Date</td>
                                <td class="flex-70 layout-row">
                                    <table class="layout-row flex-100">
                                        <tbody class="layout-row flex-100">
                                            <tr class="layout-row flex-100">
                                                <td class="flex-80 layout-align-center-center cl-up">Name/Comment</td>
                                                <td class="flex-80 layout-align-center-center cl-up"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="comment-box-wrap ">
                            <tr class="layout-row flex-100" *ngFor="let comment of comments">
                                <td class="flex-30 layout-row layout-align-center-center cl-up-1  b-l-r">{{comment.created_at}}</td>
                                <td class="flex-70 layout-row">
                                    <table class="layout-row flex-100">
                                        <tbody class="layout-column flex-100">
                                            <tr class="layout-row flex-100 ">
                                                <td class="flex-80 layout-align-center-center cl-up-1 border-r "> {{comment.name}}</td>
                                                <td class="flex-20 layout-align-center-center layout-row cl-up-1 "><button class="red" type="button" (click)="onCommentDeleteClick(comment.id)">Delete</button></td>
                                            </tr>
                                            <tr class="cl-up-1 layout-row flex-100 layout-align-start-center ">
                                                {{comment.comment}}
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tab>

        <tab heading="GOING" *ngIf="goingTab">
            <div class="tabinner-space comment-sec" *ngIf="goings">
                <span>Showing {{goings.length}} going(s):</span>
                <div class="coment-conct-wrap">
                    <table class="flex-100 layout-column">
                        <tbody class="comment-box-wrap">
                            <tr class="layout-row flex-100">
                                <td class="flex-30 layout-row layout-align-center-center cl-up">Date</td>
                                <td class="flex-70 layout-row">
                                    <table class="layout-row flex-100">
                                        <tbody class="layout-row flex-100">
                                            <tr class="layout-row flex-100">
                                                <td class="flex-80 layout-align-center-center cl-up">Name</td>
                                                <td class="flex-80 layout-align-center-center cl-up"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="comment-box-wrap ">
                            <tr class="layout-row flex-100" *ngFor="let going of goings">
                                <td class="flex-30 layout-row layout-align-center-center cl-up-1  b-l-r">{{going.created_at}}</td>
                                <td class="flex-70 layout-row">
                                    <table class="layout-row flex-100">
                                        <tbody class="layout-column flex-100">
                                            <tr class="layout-row flex-100 ">
                                                <td class="flex-80 layout-align-center-center cl-up-1 border-r "> {{going.name}}</td>
                                                <td class="flex-20 layout-align-center-center layout-row cl-up-1 "><button class="red" type="button" (click)="onGoingDeleteClick(going.id)">Delete</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tab>

        <tab heading="IMAGES" *ngIf="imagesTab" class="web-bg">
            <div class="flex-100 layout-row layout-align-space-between">
                <div class="layout-column flex-49 add-app">
                    <label>Caption:</label>
                </div>
            </div>
            <div class="flex-100 layout-row layout-align-space-between">
                <div class="layout-column flex-60 add-app">
                    <input type="text" name="caption" [(ngModel)]="imageData.caption">
                </div>
                <div class="layout-column flex-30 add-app">
                    <button class="green-btn btn btn-lg" type="button" [disabled]="addSaveButtonHide" (click)="onEventImage()">Upload A Photo</button>
                </div>
            </div>
            <div class="flex-100 layout-row layout-align-space-between">
                <div class="layout-row  add-app m-t-10 m-b-10 layout-align-start-center">
                    <label class="m-r-10">Image:</label>
                    <input type="file" (change)="onEventImagesChange($event)" multiple>
                </div>

            </div>
            <div class="layout-row flex-100 layout-wrap" [dragula]="IMAGES_BAG" [dragulaModel]="imageList">
                <div class="tablet-header-img thumb-img m-r-10 thumb-img-dif flex-10 m-b-10" *ngFor="let item of imageList">
                    <i class="fa fa-close" (click)="deleteEventImage(item.id)"></i>
                    <img style="max-height:64px; max-width: 64px" src="{{item.image}}">{{item.caption}}

                </div>
            </div>
        </tab>
    </tabset>
</p-dialog>

<!--End Add/Edit Single Event-->


<!-- List RECURRING EVENTS Dialog START-->
<p-dialog [draggable]="false"  header="RECURRING EVENTS" [(visible)]="listEventItemDialogDisplay" modal="modal" class="recur app-dialog add-app menu-tb  info-2"
    [height]="dialogHeight">
    <div *ngIf="showLoader" class="fm-spinner">
        <div class="fm-double-bounce1"></div>
        <div class="fm-double-bounce2"></div>
    </div>
    <div class="layout-column">
        <div class="layout-align-space-between mn-tb-1">
            <div class="layout-row layout-align-space-between">
                <span class="layout-row layout-align-start-center">You have {{recurringEventList.length}} recurring event(s)</span>
                <button class="green-btn" (click)="showaddRecurringEventDialog()"><i class="fa fa-plus m-r-10" aria-hidden="true"></i>ADD NEW RECURRING EVENT</button>

            </div>
            <div class="dotted-bootom-div layout-column layout-align-end">
                <div class=" layout-row layout-align-end ">
                </div>
                <div class="layout-row layout-align-space-between-center m-t-10 m-r-10">
                    <label class="checkbox-inline custom-checkbox nowrap layout-align-start-center layout-row">
                        <input type="checkbox" id="inlineCheckbox06" [(ngModel)]="checkAllRecurring" (change)="onCheckAllChangeRecurring()" >
                        <span>Select All</span>
                    </label>
                    <span class="lastspan-out"><button class="red" [class.checkTrue]="selectedRecurringItem.length > 0 && selectedRecurringItem.indexOf(true) !== -1" (click)="onRecurringEventDeleteClick()"><i class="fa fa-trash" title="delete"></i></button></span>
                </div>
            </div>
        </div>

        <div [dragula]="RECURRING_EVENTS" [dragulaModel]="recurringEventList">
            <div class="dotted-bootom-div layout-row somespace-top mn-tb-2 layout-align-start-center" *ngFor="let item of recurringEventList">
                <div class="flex-80 layout-row layout-align-start-center">

                    <label class="checkbox-inline custom-checkbox nowrap layout-align-start-center layout-row">
                            <input type="checkbox" id="inlineCheckbox09" [(ngModel)]="selectedRecurringItem[item.id]" (click)="onCheckRecurringTabChange(selectedRecurringItem[item.id], item.id)">
                            <span></span>
                        </label>
                    <span><i class="fa fa-arrows cursor-moves" aria-hidden="true"></i></span>

                    <div class="layout-column flex-70">
                        <span>{{item.name}}</span>
                        <span>Start: {{item.start_time}} for {{item.duration}} Hour(s)</span>
                    </div>
                    <div class="layout-column flex-15">
                        <span *ngIf="item.status === EVENT_STATUS_DISABLED" class="menu-item-disabled">INACTIVE</span>
                    </div>
                </div>
                <div class="flex-20 layout-row layout-align-end">
                    <span class=""><button class="edit-btn" (click)="showEditRecurringEventDialog(item.id)">Edit</button></span>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
<!-- List RECURRING EVENTS Dialog END-->

<!--Start Add New Recurring event-->
<p-dialog [draggable]="false"  [header]="eventHeader" [(visible)]="recurringEventDialogDisplay" modal="modal" (onAfterHide)="onRecurringDialogHide()"
    class="app-dialog add-app info-wrap info-2 recurring-event " [height]="dialogHeight">
    <div *ngIf="showLoader" class="fm-spinner">
        <div class="fm-double-bounce1"></div>
        <div class="fm-double-bounce2"></div>
    </div>
    <div class="contact-us  white-bg">
        <form class="contact-us-formr">
            <div class="">
                <div class="event-cal-wrap">
                    <div class="flex-100 layout-row layout-align-space-between">
                        <div class="layout-column flex-100 add-app">
                            <div class="phone layout-row layout-align-start-center" *ngIf="imageShow">
                                <label class="checkbox-inline custom-checkbox nowrap">
                                    <input id="inlineCheckbox01" type="checkbox" [(ngModel)]="recurringEventData.is_header_required">
                                    <span>&nbsp;</span>
                                </label>

                                <label class="layout-row layout-align-start-center">Phone Header Image
                                        <i class="fa fa-info-circle layout-row setinput-icon" tooltip='Upload a Phone Header Image 640x264px.' tooltipPlacement="right" aria-hidden="true"></i>
                                    </label>
                                <thumbnail-file-reader [btnText]="'Browse'" [imageTypeHeader]="true" (delete)="deleteRecurringImage('phone_header',recurringEventData.id)"
                                    [defaultPicture]="recurringEventData.phone_header_image" (complete)="onPhoneHeaderImageRecurringChange($event)">
                                </thumbnail-file-reader>
                            </div>
                            <div *ngIf="imageShow" class="layout-row m-l-25">
                                <label class="layout-row layout-align-start-center">Tablet Header Image
                                        <i class="fa fa-info-circle layout-row setinput-icon" tooltip='Upload a Tablet Header Image 1536x634px.' tooltipPlacement="right" aria-hidden="true"></i>
                                    </label>
                                <thumbnail-file-reader [btnText]="'Browse'" [imageTypeHeader]="true" (delete)="deleteRecurringImage('tablet_header',recurringEventData.id)"
                                    [defaultPicture]="recurringEventData.tablet_header_image" (complete)="onTabletHeaderImageRecurringChange($event)">
                                </thumbnail-file-reader>
                            </div>
                        </div>
                    </div>

                    <div class="layout-row recr-wrap">
                        <div class="layout-column  layout-align-space-between flex-100">
                            <div class="layout-row layout-align-space-between">
                                <div class="layout-row flex-45 r-w-1 ">
                                    <label class="layout-row layout-align-start-center flex-40">
                                            Repeat  <i class="fa fa-info-circle layout-row setinput-icon" tooltip='Select the repeat option.' tooltipPlacement="right" aria-hidden="true"></i>
                                        </label>
                                    <p-dropdown [options]="repeat" [(ngModel)]="recurringEventData.repeat_event" class="flex-70 layout-row layout-align-start-center"></p-dropdown>
                                </div>
                                <div class="layout-row flex-45 r-w-2 layout-align-space-between-center" *ngIf="recurringEventData.repeat_event==1">
                                    <label class="layout-row layout-align-start-center flex-35">
                                            Day of week  <i class="fa fa-info-circle layout-row setinput-icon" tooltip='The day of week when the event starts.' tooltipPlacement="right" aria-hidden="true"></i>
                                        </label>
                                    <p-multiSelect [options]="days" defaultLabel="Select Weekday(s)" class="mul-r-w flex-60 border-all layout-row layout-align-start-center"
                                        [(ngModel)]="recurringEventData.day_of_week"></p-multiSelect>
                                </div>
                                <div class="layout-row flex-45 r-w-3 layout-align-start-center" *ngIf="recurringEventData.repeat_event==2">
                                    <label class=" layout-row layout-align-start-center flex-20">
                                            Date <i class="fa fa-info-circle layout-row setinput-icon" tooltip='The day of week when the event starts.' tooltipPlacement="right" aria-hidden="true"></i>
                                        </label>
                                    <p-calendar readonlyInput="true" [(ngModel)]="repeat_date" [minDate]="currentDate"></p-calendar>
                                </div>
                            </div>
                            <div class="layout-row layout-align-space-between">
                                <div class="layout-row flex-45 m-t-10 r-w-4">
                                    <label class=" layout-row layout-align-start-center m-b-10 flex-40">
                                            Start Time  <i class="fa fa-info-circle layout-row setinput-icon" tooltip='The time period of events.' tooltipPlacement="right" aria-hidden="true"></i>
                                        </label>
                                    <div class="layout-row layout-align-start-center flex-70 ">
                                        <p-dropdown [options]="startTimeHour" [(ngModel)]="start_time_hour" class="flex-30 r-w-p layout-row layout-align-start-center"></p-dropdown>:
                                        <p-dropdown [options]="startTimeMin" [(ngModel)]="start_time_min" class="flex-30 r-w-p layout-row layout-align-start-center"></p-dropdown>
                                        <p-dropdown [options]="meredian" [(ngModel)]="event_meredian" class="flex-30 r-w-p layout-row layout-align-start-center"></p-dropdown>
                                        <!--<timepicker [hourStep]="hstep" [minuteStep]="mstep" [(ngModel)]="rec_start_time" [showMeridian]="true" class="m-l-10"></timepicker>-->

                                    </div>
                                </div>
                                <div class="layout-row flex-45 m-t-10 r-w-5 layout-align-space-between-center">
                                    <label class="layout-row layout-align-start-center flex-35">
                                            Duration  <i class="fa fa-info-circle layout-row setinput-icon" tooltip='Input the duration' tooltipPlacement="right" aria-hidden="true"></i>
                                        </label>
                                    <div class="layout-row flex-60 layout-align-space-between-center">
                                        <input type="text" name="hour" [(ngModel)]="duration_hour">: <input type="text" name="min"
                                            [(ngModel)]="duration_min">
                                    </div>
                                </div>
                            </div>

                            <div class="layout-row layout-align-space-between r-c-8">

                                <div class="layout-row m-t-10 flex-45 layout-align-space-between-center">
                                    <label class="layout-row layout-align-start-center flex-40">
                                            End Date  <i class="fa fa-info-circle layout-row setinput-icon" tooltip='End date of the recurring event.' tooltipPlacement="right" aria-hidden="true"></i>
                                        </label>
                                    <p-calendar readonlyInput="true" [(ngModel)]="recur_end_date" class="flex-70" [minDate]="currentDate"></p-calendar>
                                </div>
                                <div class="layout-row m-t-10 flex-45 layout-align-space-between">
                                    <label class="layout-row layout-align-start-center ">Timezone
                                            <i class="fa fa-info-circle l" tooltip="Select your timezone." tooltipPlacement="right" aria-hidden="true"></i>
                                        </label>
                                    <p-dropdown class="category-dropdown flex-60 time-wrap layout-row layout-align-start-center" [options]="timezoneSelect" [style]="{'width':'170px'}"
                                        [(ngModel)]="recurringEventData.timezone_id" *ngIf="timezone"></p-dropdown>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="layout-row m-b-15 ">
                        <div class="layout-column flex-100">
                            <div class="layout-row layout-align-start-center m-b-15">
                                <div class="layout-row flex-55 layout-align-start-center">
                                    <label>Name
                                    <i class="fa fa-info-circle l m-r-10" tooltip="Enter the name of your event." tooltipPlacement="right" aria-hidden="true"></i>
                                </label>
                                    <input id="name" type="text" [(ngModel)]="recurringEventData.name" class="flex-80">
                                </div>
                                <div class="layout-row flex-45 layout-align-start-center">

                                    <label class="checkbox-inline custom-checkbox nowrap">
                                    <input type="checkbox" id="inlineCheckbox02" [(ngModel)]="recurringEventData.status">
                                    <span>Active <i class="fa fa-info-circle l" tooltip="Check to activate your event" tooltipPlacement="right" aria-hidden="true"></i></span>
                                </label>
                                </div>
                            </div>
                            <div class="layout-row  layout-align-space-between flex-100">
                                <div class="layout-column layout-align-space-between flex-100">
                                    <label>Description
                                    <i class="fa fa-info-circle l" tooltip="Describe your event in detail here." tooltipPlacement="right" aria-hidden="true"></i>
                                </label>
                                    <!--<ckeditor *ngIf="showEditor" [config]="ckEditorConfig" [(ngModel)]="recurringEventData.description"></ckeditor>-->
                                    <div *ngIf="showEditor=='recurring'" id="description-editor"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-row m-b-15 layout-align-start-center ">
                        <div class="layout-column  layout-align-start-center ">
                            <div class="layout-row flex-45 layout-align-start-center">

                                <label class="checkbox-inline custom-checkbox nowrap">
                                    <input type="checkbox"id="inlineCheckbox03" [(ngModel)]="recurringEventData.imported_location" (click)="onImportedLocationRecurringClick()" >
                                    <span>Use imported location(s) from the Home/Contact Tabs </span>
                                </label>
                            </div>
                            <div class="importedLocation m-t-10" *ngIf="show == 1">
                                <!--<div class="overlay" [style.display]="overlayDisplay"></div>-->
                                <div class="layout-row flex-45 layout-align-start-center imp-data">
                                    <p-dropdown class="layout-row flex-100 layout-align-start-center" [options]="contactSelect" (onChange)="onRecurringLocationClick(recurringEventData.location_id)"
                                        [(ngModel)]="recurringEventData.location_id"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-row">
                        <div class="layout-column">
                            <label class="  layout-row layout-align-start-start flex-50 m-b-15">Custom Location Name
                            </label>
                            <label class="layout-row"> <i class="fa fa-info-circle layout-row setinput-icon m-r-10" tooltipPlacement="right" aria-hidden="true"></i>
                                Use a custom location description instead of the default address format. If left blank, the default address format will be used.                       </label>
                        </div>
                    </div>
                    <div class="layout-row m-b-15 layout-align-start-center">
                        <div class="layout-column flex-45 m-r-10">
                            <label class="m-b-10">Address Section 1
                                    <i class="fa fa-info-circle l" tooltip="The first section (or top row on your mobile device) of the address description" tooltipPlacement="right" aria-hidden="true"></i>
                                </label>
                            <input id="name" type="text" [(ngModel)]="recurringEventData.address_sec_1">
                        </div>
                        <div class="layout-column flex-45 m-l-10">
                            <label class="m-b-10">Address Section 2
                                    <i class="fa fa-info-circle l" tooltip="The second section (or bottom row on your mobile device) of the address description" tooltipPlacement="right" aria-hidden="true"></i>
                                </label>
                            <input id="name" type="text" [(ngModel)]="recurringEventData.address_sec_2">
                        </div>
                    </div>

                    <div class="tb-2 web-bg  layout-row layout-align-center-center">
                        <div *ngIf="!recAddFormlocationEditorDisplay" (click)="showRecurringLocationEditor()" class="loctn-up"> <i class="fa fa-map-marker m-r-10" aria-hidden="true"></i>Click to edit your location.</div>

                        <div class="flex-100" *ngIf="recAddFormlocationEditorDisplay">
                            <location-editor (latLongChange)="onRecLatLongChange($event)" [lat]="recurringEventData.m_lat" [long]="recurringEventData.m_long"></location-editor>
                            <div class="layout-column dis-wrap">
                            </div>
                        </div>
                    </div>

                    <div class="layout-align-start save-btn">
                        <button class="blue-btn btn btn-lg" type="submit" [disabled]="addSaveButtonHide" (click)="onSaveRecurringEvent()">Save Changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</p-dialog>
<!--End New Recurring event-->
<!-- Delete Recurring event Dialog START 
<p-dialog header="Delete Item ?" [(visible)]="showDeleteRecurringEventDialog" modal="modal" class="app-dialog add-app">
    <div *ngIf="showLoader" class="fm-spinner">
        <div class="fm-double-bounce1"></div>
        <div class="fm-double-bounce2"></div>
    </div>
    <p style="color: #000">Are you sure you want to delete the selected Item ?</p>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix layout-row layout-align-end">
            <a type="" pButton icon="fa-check" label="Yes" class="login-btn" (click)="deleteRecurringEvent()">Yes</a>
            <a type="" pButton icon="fa-check" label="No" class=" login-btn cncle-btn cursor-p" (click)="showDeleteRecurringEventDialog=false">No</a>
        </div>
    </footer>
</p-dialog>
 Delete Recurring event Dialog END -->

<!-- Delete Comment Dialog START -->
<p-dialog [draggable]="false"  header="Delete Comment ?" [(visible)]="showDeleteCommentDialog" modal="modal" class="app-dialog add-app">
    <div *ngIf="showLoader" class="fm-spinner">
        <div class="fm-double-bounce1"></div>
        <div class="fm-double-bounce2"></div>
    </div>
    <p style="color: #000">Are you sure you want to delete the selected Comment ?</p>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix layout-row layout-align-end">
            <a type="" pButton icon="fa-check" label="Yes" class="login-btn" (click)="deleteComment()">Yes</a>
            <a type="" pButton icon="fa-check" label="No" class=" login-btn cncle-btn cursor-p" (click)="showDeleteCommentDialog=false">No</a>
        </div>
    </footer>
</p-dialog>
<!-- Delete Comment Dialog END -->

<!-- Delete Going Dialog START -->
<p-dialog header="Delete Going ?" [(visible)]="showDeleteGoingDialog" modal="modal" class="app-dialog add-app">
    <div *ngIf="showLoader" class="fm-spinner">
        <div class="fm-double-bounce1"></div>
        <div class="fm-double-bounce2"></div>
    </div>
    <p style="color: #000">Are you sure you want to delete the selected Going ?</p>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix layout-row layout-align-end">
            <a type="" pButton icon="fa-check" label="Yes" class="login-btn" (click)="deleteGoing()">Yes</a>
            <a type="" pButton icon="fa-check" label="No" class=" login-btn cncle-btn cursor-p" (click)="showDeleteGoingDialog=false">No</a>
        </div>
    </footer>
</p-dialog>
<!-- Delete Going Dialog END -->

<!-- ImportEvents Dialog START -->
<p-dialog [draggable]="false"  header="IMPORT EVENTS" [(visible)]="importEventsDialogDisplay" modal="modal" class="app-dialog add-app" [height]="dialogHeight">
    <div *ngIf="showLoader" class="fm-spinner">
        <div class="fm-double-bounce1"></div>
        <div class="fm-double-bounce2"></div>
    </div>
    <form>
        <div class="layout-column import-event white-bg border-all web-bg">
            <div class="m-t-10 m-b-15">Enter Your Url below to scan your site for easy event importing</div>
            <div class="web-bg layout-row ">
                <div class="layout-row flex-10 layout-align-start-center">
                    <span><img src="{{'../../../../assets/img/facebook.png'}}" class="import-event-thumbnail"></span>
                </div>
                <div class="layout-row  flex-60 layout-align-start-center">
                    <div class="layout-row layout-align-start-center"><input class="input-class" type="text" placeholder="Facebook Page URL">
                        <i class="fa fa-info-circle l m-l-10 m-r-10" tooltip="We'll use the Facebook API to easily import events into your application."
                            tooltipPlacement="right" aria-hidden="true"></i></div>
                    <button class="green-btn" type="submit">IMPORT</button>

                </div>
            </div>
            <div class="m-t-10 m-b-15">To learn more about Facebook Pages <a>click here</a></div>
            <div class="m-t-10 m-b-15">Connect your Google email</div>
            <div class="web-bg layout-row layout-align-start-center">
                <div class="layout-row  flex-15 layout-align-start-center">
                    <span><img src="{{'../../../../assets/img/google.png'}}" class="import-event-thumbnail"></span>
                </div>
                <i class="fa fa-info-circle l m-r-10" tooltip="We'll use your Google email address to easily import events into your application."
                    tooltipPlacement="right" aria-hidden="true"></i>
                <div class="layout-row  flex-60 layout-align-space-between-center">


                    <button class="green-btn" type="submit">IMPORT</button>
                </div>
            </div>
            <div class="m-t-10 m-b-15">Enter your Eventbrite user email and password</div>
            <div class="web-bg layout-row">
                <div class="layout-row flex-15 layout-align-start-center">
                    <span><img src="{{'../../../../assets/img/eventbrite.png'}}" class="import-event-thumbnail"></span>
                </div>
                <div class="layout-row  flex-85 layout-align-start-center">
                    <input class="input-class m-l-10" type="text" placeholder="Email">
                    <input class="input-class m-l-10" type="password" placeholder="Password">
                    <i class="fa fa-info-circle l m-l-10 m-r-10" tooltip="We'll use the Eventbrite API to easily import events into your application."
                        tooltipPlacement="right" aria-hidden="true"></i>
                    <button class="green-btn" type="submit">IMPORT</button>
                </div>
            </div>
        </div>

    </form>
</p-dialog>
<!-- Import Events Dialog END -->