@import '../../../../../theme/sass/flex';

.website-thumbnail {
    max-height: 47px;
    max-width: 47px;
}
.import-event-thumbnail {
    max-height: 80px;
    max-width: 80px;
}
.importedLocation{
    position: relative;
}
/*.btn-update{
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
}*/