@import '../../../../../theme/sass/flex';

.website-thumbnail {
    max-height: 47px;
    max-width: 47px;
}
/*.ct3-category-thumb {
    margin: 0 10px 0 0;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 50%;
    height: 56px;
    width: 58px;
}
.ct3-category-thumb > img {
    border-radius: 50%;
    height: auto;
    max-width: 100%;
}*/
/*.btn-update{
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
}*/