<div *ngIf="showLoader" class="fm-spinner">
    <div class="fm-double-bounce1"></div>
    <div class="fm-double-bounce2"></div>
</div>
<div class="flex-100 spaceborder">
    </div>
<div class="flex-100 layout-row secondtab-block tell-friend-tabs">
    <div class="flex-30">
        <ul class="secondcontent-block contact-us-wrap " style="padding-left: 0px;">
                <li class="title-head"><span class="tell-title">{{tabData.title + ' - '}} </span><span class="tell-function">{{ tabData.tab_func_name}}</span></li>
            </ul>
    </div>
    <div class="flex-70 layout-column qr-scanner-wrap tell-friend-phone-layout">
    <mobile-view [tabId]='tabId'></mobile-view>
</div>
</div>

