@import '../../theme/sass/auth';
@import '../../theme/sass/flex';


main::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: none !important ;
}
forgotPassword .auth-main {
   background: url("assets/img/login.png") no-repeat ;
   background-size: cover;
}
input.email-id:before{
    content: "\f0e0";
    height: 20px;
    width: 20px;
    color: #000
}
button[disabled] {
    cursor: not-allowed;
}
.auth-main.forget-password .login-box h3 img{
    top: -68px;
}