page-music-tab {
    ion-list {  
        ion-icon[item-left].player-icon {
            padding-left: 14px;
        }
    }
     .scroll-content{
        display: flex;
    width: 100%;
    flex-direction: column;
    }
     ion-scroll{
        position: relative;
        height: 100%;
        width: 100%;
    }
    ion-card{
        background: none !important;
    }
}
