social-account {
    .layout-justify ion-row{
        justify-content: center;
    }
.card-md.comment-card {
background: rgba(255,255,255,0.7);}
.comment-card .item-md {
    background-color: rgba(255,255,255,0.7);}
}
