page-gps-coupon-tab {
.gps-wrap1 {
    display: inline-block;
    width: 27%;
    vertical-align: bottom;
    text-align: center;
}
.gps-wrap1 p {
    font-size: 12px;
}
.gps-wrap2 {
    display: inline-block;
    width: 73%;
    vertical-align: middle;
}
}
