page-content-tab-two-desc {
    .desc-box {
        width: 100%;
        height: inherit;
    }

    .comment-list {
        ion-row {
            justify-content: center;
            align-items: center;
        }
    }
    .desc-tow {
    height: inherit;
}
}
.desctwo {
    height: inherit;
}

